{% extends "_base.html" %}
{% set active_page = "projects" %}
{% set title = "GoL-SAT" %}
{% block body %}

<div class="content">
    <h1 class="title">GoL-SAT - a forward/backwards solver for the Game of Life</h1>
            
    <p>
        GoL-SAT is a SAT-based forward/backwards solver for Conways Game of Life.
    </p>
            
    {{ image("gol-screenshot.jpg", "GoL-SAT") }}
            
    {{ buttons1("https://github.com/flopp/gol-sat", "Source code on Github.com") }}
    
    <div class="columns is-multiline">
        <div class="column is-half">
            <div class="card equal-height">
                <header class="card-header"><p class="card-header-title">Features</p></header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li>Forward simulation using the standard rules of Conways Game of Life</li>
                            <li>Backwards solving, i.e. find an initial configuration that leads to a specified configuration</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="column is-half">
            <div class="card equal-height">
                <header class="card-header"><p class="card-header-title">Used Technologies</p></header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li><a href="https://github.com/niklasso/minisat" target="_blank">MiniSAT</a>, an open source, minimalistic SAT-solver</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
