{% extends "_base.html" %}
{% set active_page = "projects" %}
{% set title = "Safari Map" %}
{% block body %}

<div class="content">
    <h1 class="title">Safari Map</h1>
            
    <p>
        The <em>Safari Map</em> displays <a href="http://wiki.opencaching.de/index.php/Reverse_(%E2%80%9ELocationless%E2%80%9C)_Caches" target="_blank">Safari caches</a> listed on the geocaching site Opencaching.de.
    <p>
  
    {{ image("safari-screenshot.jpg", "Safari Map") }}
  
    <p>
        In contrast to physical geocaches where the goal is to find a physical geocaching container in the woods, Safari caches are virtual geocaches that require the completion of a specified task (e.g. find a specified geological feature, or a specified type of building). These tasks are not bound to a single location but can be fulfilled at multiple locations worldwide.<br />
        The Safari Map displays the Safari caches along with the locations where the geocachers have completed the corresponding tasks.
    </p>

    {{ buttons2("https://safari.flopp.net/", "Jump to the \"Safari Map\" website", "https://github.com/flopp/safari", "Source code on Github.com") }}
    
    <div class="columns is-multiline">
        <div class="column is-half">
            <div class="card equal-height">
                <header class="card-header"><p class="card-header-title">Features</p></header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li>Display of <em>Safari Caches</em> from Opencaching.de</li>
                            <li>Filtering by name, owner, tags</li>
                            <li>Placement of log markers at coordinates extracted from the individual log texts</li>
                            <li>Display of cache logs including log images</li>
                            <li>RSS feed containing recently added safari caches</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="column is-half">
            <div class="card equal-height">
                <header class="card-header"><p class="card-header-title">Used Technologies</p></header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li><a href="http://www.opencaching.de/okapi/introduction.html" target="_blank">Opencaching API (OKAPI)</a> for accessing the Opencaching.de data base</li>
                            <li><a href="http://www.leafletjs.com" target="_blank">Leaflet</a> for mapping</li>
                            <li><a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a> for the user interface</li>
                            <li><a href="http://jquery.com/" target="_blank">jQuery</a> and various plugins for Javascript stuff</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
