{% extends "_base.html" %}
{% set active_page = "projects" %}
{% block body %}
<h1>Safari Map</h1>

<p class="lead">The <em>Safari Map</em> displays <a href="http://wiki.opencaching.de/index.php/Reverse_(%E2%80%9ELocationless%E2%80%9C)_Caches" target="_blank">Safari caches</a> listed on the geocaching site Opencaching.de.<p>
  
<p style="text-align: center"><img src="{{ base_url }}/static/img/safari-screenshot.jpg" class="img-thumbnail"></p>
  
<p class="lead">In contrast to physical geocaches where the goal is to find a physical geocaching container in the woods, Safari caches are virtual geocaches that require the completion of a specified task (e.g. find a specified geological feature, or a specified type of building). These tasks are not bound to a single location but can be fulfilled at multiple locations worldwide.<br />
The Safari Map displays the Safari caches along with the locations where the geocachers have completed the corresponding tasks.</p>

<p style="text-align: center">
    <a class="btn btn-primary btn-lg" href="http://www.flopp.net/safari/" target="_blank">Jump to the <em>Safari Map</em> website</a>
    <a class="btn btn-info btn-lg" href="#" role="button" href="https://github.com/flopp/safari" target="_blank">Source code on Github.com</a>
</p>

<div class="row">
    
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h2 class="panel-title">Features</h2></div>
            <div class="panel-body">
                <ul>
                    <li>Display of <em>Safari Caches</em> from Opencaching.de</li>
                    <li>Filtering by name, owner, tags</li>
                    <li>Placement of log markers at coordinates extracted from the individual log texts</li>
                    <li>Display of cache logs including log images</li>
                    <li>RSS feed containing recently added safari caches</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h2 class="panel-title">Used Technologies</h2></div>
            <div class="panel-body">
                <ul>
                    <li><a href="http://www.opencaching.de/okapi/introduction.html" target="_blank">Opencaching API (OKAPI)</a> for accessing the Opencaching.de data base</li>
                    <li><a href="http://www.leafletjs.com" target="_blank">Leaflet</a> for mapping</li>
                    <li><a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a> for the user interface</li>
                    <li><a href="http://jquery.com/" target="_blank">jQuery</a> and various plugins for Javascript stuff</li>
                </ul>
            </div>
        </div>
    </div>

</div>
    
{% endblock %}
