{% extends "_base.html" %}
{% set active_page = "projects" %}
{% block body %}

<div class="section">
    <div class="row">
        <div class="col s12">
            <h1 class="header {{ header_text_color }}">Safari Map</h1>
            
            <p class="caption">The <em>Safari Map</em> displays <a href="http://wiki.opencaching.de/index.php/Reverse_(%E2%80%9ELocationless%E2%80%9C)_Caches" target="_blank">Safari caches</a> listed on the geocaching site Opencaching.de.<p>
  
            <p class="center"><img src="{{ base_url }}/static/img/safari-screenshot.jpg" class="responsive-img"></p>
  
            <p class="caption">In contrast to physical geocaches where the goal is to find a physical geocaching container in the woods, Safari caches are virtual geocaches that require the completion of a specified task (e.g. find a specified geological feature, or a specified type of building). These tasks are not bound to a single location but can be fulfilled at multiple locations worldwide.<br />
            The Safari Map displays the Safari caches along with the locations where the geocachers have completed the corresponding tasks.</p>

            <p class="center">
                <a class="btn" href="http://www.flopp.net/safari/" target="_blank">Jump to the <em>Safari Map</em> website</a>
                <a class="btn" href="#" role="button" href="https://github.com/flopp/safari" target="_blank">Source code on Github.com</a>
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col l6 m12">
            <div class="card {{ card_color }}">
                <div class="card-content">
                    <span class="card-title black-text">Features</span>
                    <ul class="collection">
                        <li class="collection-item">Display of <em>Safari Caches</em> from Opencaching.de</li>
                        <li class="collection-item">Filtering by name, owner, tags</li>
                        <li class="collection-item">Placement of log markers at coordinates extracted from the individual log texts</li>
                        <li class="collection-item">Display of cache logs including log images</li>
                        <li class="collection-item">RSS feed containing recently added safari caches</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col l6 m12">
            <div class="card {{ card_color }}">
                <div class="card-content">
                    <span class="card-title black-text">Used Technologies</span>
                    <ul class="collection">
                        <li class="collection-item"><a href="http://www.opencaching.de/okapi/introduction.html" target="_blank">Opencaching API (OKAPI)</a> for accessing the Opencaching.de data base</li>
                        <li class="collection-item"><a href="http://www.leafletjs.com" target="_blank">Leaflet</a> for mapping</li>
                        <li class="collection-item"><a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a> for the user interface</li>
                        <li class="collection-item"><a href="http://jquery.com/" target="_blank">jQuery</a> and various plugins for Javascript stuff</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
