{% extends "_base.html" %}
{% set active_page = "projects" %}
{% set title = "QtAsciimage" %}
{% block body %}

<div class="content">
    <h1 class="title">QtAsciimage Library + Editor</h1>

    <p>
        QtAsciimage is a C++/Qt library for rendering images specified in the <a href="http://asciimage.org/" target="_blank">Asciimage format</a>. Along with the library comes a graphical editor for that kind of images - QtAsciimageEditor.
    </p>
    
    {{ image("qtasciimage-screenshot.png", "QtAsciimage") }}
            
    {{ buttons1("https://github.com/flopp/QtAsciimage", "Source code on Github.com") }}
    
    <div class="columns is-multiline">
        <div class="column is-half">
            <div class="card equal-height">
                <header class="card-header"><p class="card-header-title">Features</p></header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li>Library: extended Asciimage format for specifying rendering styles</li>
                            <li>Library: direct rendering to QImage</li>
                            <li>Library: QIconEngine support for providing Qt applications with resolution independant icons</li>
                            <li>Editor: grid template</li>
                            <li>Editor: instant preview</li>
                            <li>Editor: preview scaling</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-half">
            <div class="card equal-height">
                <header class="card-header"><p class="card-header-title">Used Technologies</p></header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li><a href="https://www.qt.io/" target="_blank">Qt</a>, the cross platform UI framework</li>
                            <li><a href="https://twitter.com/cparnot" target="_blank">@cparnot</a>'s <a href="http://asciimage.org/" target="_blank">Asciimage</a> specification</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
