{% extends "_base.html" %}
{% set active_page = "projects" %}
{% block body %}

<div class="section">
    <div class="row">
        <div class="col s12">
            <h1 class="header {{ header_text_color }}">QtAsciimage Library + Editor</h1>
            
            <p class="caption">QtAsciimage is a C++/Qt library for rendering images specified in the <a href="http://asciimage.org/" target="_blank">Asciimage format</a>. Along with the library comes a graphical editor for that kind of images - QtAsciimageEditor.</p>
            
            <p class="center"><img src="{{ base_url }}/static/img/qtasciimage-screenshot.png" class="responsive-img"></p>
            
            <p class="center">
                <a class="btn" href="#" role="button" href="https://github.com/flopp/QtAsciimage" target="_blank">Source code on Github.com</a>
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col l6 m12">
            <div class="card {{ card_color }}">
                <div class="card-content">
                    <span class="card-title black-text">Features</span>
                    <ul class="collection">
                      <li class="collection-item">Library: extended Asciimage format for specifying rendering styles</li>
                      <li class="collection-item">Library: direct rendering to QImage</li>
                      <li class="collection-item">Library: QIconEngine support for providing Qt applications with resolution independant icons</li>
                      <li class="collection-item">Editor: grid template</li>
                      <li class="collection-item">Editor: instant preview</li>
                      <li class="collection-item">Editor: preview scaling</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col l6 m12">
            <div class="card {{ card_color }}">
                <div class="card-content">
                    <span class="card-title black-text">Used Technologies</span>
                    <ul class="collection">
                        <li class="collection-item"><a href="http://www.qt.io/" target="_blank">Qt</a>, the cross platform UI framework</li>
                        <li class="collection-item"><a href="http://twitter.com/cparnot" target="_blank">@cparnot</a>'s <a href="http://asciimage.org/" target="_blank">Asciimage</a> specification</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
