{% extends "_base.html" %}
{% set active_page = "projects" %}
{% set title = "Random Airports" %}
{% block body %}

<div class="content">
    <h1 class="title">Random Airports</h1>
     
    <p>
        Random Airports is a web app that displays satellite views of random airports.
    </p>
    
    {{ image("airports-screenshot.jpg", "Random Airports") }}

    {{ buttons2("https://airports.flopp.net/", "Jump to the \"Random Airports\" website", "https://github.com/flopp/airports_map", "Source code on Github.com") }}

    <div class="columns is-multiline">
        <div class="column is-half">
            <div class="card equal-height">
                <header class="card-header"><p class="card-header-title">Features</p></header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li>'Auto play' mode</li>
                            <li>Search function for ICAO codes, IATA codes, airport names and location names</li>
                            <li>Automatic fitting of view</li>
                            <li>Smooth fading to next airport</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="column is-half">
            <div class="card equal-height">
                <header class="card-header"><p class="card-header-title">Used Technologies</p></header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li><a href="https://developers.google.com/maps/documentation/javascript/reference" target="_blank">Google Maps Javascript API</a> for mapping and as a provider for satellite imagery</li>
                            <li>The frontend site queries airport data from a PHP/sqlite3 backend via AJAX calls</li>
                            <li>Airport data is imported from <a href="http://ourairports.com" target="_blank">OurAirports.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
