{% extends "_base.html" %}
{% set active_page = "projects" %}
{% block body %}

<div class="section">
    <div class="row">
        <div class="col s12">
            <h1 class="header {{ header_text_color }}">Random Airports</h1>
            <p class="caption">
                Random Airports is a web app that displays satellite views of random airports.
            </p>
            <p class="center">
                <img class="center responsive-img" src="{{ base_url }}/static/img/airports-screenshot.jpg">
            </p>
            <p class="center">
                <a class="btn" href="https://airports.flopp.net/" target="_blank">Jump to the <em>Random Airports</em> website</a>
                <a class="btn" role="button" href="https://github.com/flopp/airports_map" target="_blank">Source code on Github.com</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col l6 m12">
            <div class="card {{ card_color }}">
                <div class="card-content">
                    <span class="card-title black-text">Features</span>
                    <ul class="collection">
                        <li class="collection-item">'Auto play' mode</li>
                        <li class="collection-item">Search function for ICAO codes, IATA codes, airport names and location names</li>
                        <li class="collection-item">Automatic fitting of view</li>
                        <li class="collection-item">Smooth fading to next airport</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col l6 m12">
            <div class="card {{ card_color }}">
                <div class="card-content">
                    <span class="card-title black-text">Used Technologies</span>
                    <ul class="collection">
                        <li class="collection-item"><a href="https://developers.google.com/maps/documentation/javascript/reference" target="_blank">Google Maps Javascript API</a> for mapping and as a provider for satellite imagery</li>
                        <li class="collection-item">The frontend site queries airport data from a PHP/sqlite3 backend via AJAX calls</li>
                        <li class="collection-item">Airport data is imported from <a href="http://ourairports.com" target="_blank">OurAirports.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
