{% extends "_base.html" %}
{% set active_page = "projects" %}
{% block body %}
<h1>Random Aiports</h1>

<p class="lead">Random Airports is a web app that displays satellite views of random airports.</p>
<p style="text-align: center"><img src="{{ base_url }}/static/img/airports-screenshot.jpg" class="img-thumbnail"></p>
<p style="text-align: center">
    <a class="btn btn-primary btn-lg" href="http://airports.fraig.de/" target="_blank">Jump to the <em>Random Airports</em> website</a>
    <a class="btn btn-info btn-lg" href="#" role="button" href="https://github.com/flopp/airports_map" target="_blank">Source code on Github.com</a>
</p>

<div class="row">
    
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h2 class="panel-title">Features</h2></div>
            <div class="panel-body">
                <ul>
                  <li>'Auto play' mode</li>
                  <li>Search function for ICAO codes, IATA codes, airport names and location names</li>
                  <li>Automatic fitting of view</li>
                  <li>Smooth fading to next airport</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h2 class="panel-title">Used Technologies</h2></div>
            <div class="panel-body">
                <ul>
                    <li><a href="https://developers.google.com/maps/documentation/javascript/reference" target="_blank">Google Maps Javascript API</a> for mapping and as a provider for satellite imagery</li>
                    <li>The frontend site queries airport data from a PHP/sqlite3 backend via AJAX calls</li>
                    <li>Airport data is imported from <a href="http://ourairports.com" target="_blank">OurAirports.com</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

{% endblock %}
