{% extends "_base.html" %}
{% set active_page = "projects" %}
{% set title = "Flopp's Map" %}
{% block body %}

<div class="content">
    <h1 class="title">Flopp's Map</h1>

    <p>
        <em>Flopp's Map</em> is a single page web app that allows for simple geodesic operations, like determining the coordinates of a specific location, measuring the distance between several locations or performing a waypoint projection.
    </p>

    {{ image("floppsmap-screenshot.jpg", "Flopp's Map") }}

    <p>
        The map attracts several hundred users per day, among them a lot of geocachers who use the map to perform geocaching related operations, for planning geocaching tours, and as a simple means to explore the world before actually going outside.
    </p>

    {{ buttons2("http://flopp.net/", "Jump to the \"Flopps's Map\" website", "https://github.com/flopp/map", "Source code on Github.com") }}

    <div class="columns is-multiline">
        <div class="column is-half">
            <div class="card equal-height">
                <header class="card-header"><p class="card-header-title">Features</p></header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li>Draggeable markers for determining coordinates</li>
                            <li>Geodesic operations: waypoint projection, distancce/bearing measurement</li>
                            <li>Different mapping styles</li>
                            <li>Searching by coordinates and location names</li>
                            <li>Multi language interface</li>
                            <li>Generation of permalinks to share the current map view with others</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-half">
            <div class="card equal-height">
                <header class="card-header"><p class="card-header-title">Used Technologies</p></header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li><a href="https://developers.google.com/maps/documentation/javascript/reference">Google Maps Javascript API</a> for mapping</li>
                            <li><a href="http://www.opencaching.de/okapi/introduction.html">Opencaching API (OKAPI)</a> for accessing the data bases of Opencaching sites</li>
                            <li><a href="http://www.getbootstrap.com">Bootstrap</a> for the user interface</li>
                            <li><a href="http://jquery.com/">jQuery</a> and various plugins for Javascript stuff</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
