{% extends "_base.html" %}
{% set active_page = "projects" %}
{% block body %}

<div class="section">
    <div class="row">
        <div class="col s12">
            <h1 class="header {{ header_text_color }}">Flopp's Map</h1>

            <p class="caption"><em>Flopp's Map</em> is a single page web app that allows for simple geodesic operations, like determining the coordinates of a specific location, measuring the distance between several locations or performing a waypoint projection.<p>
  
            <p class="center"><img src="{{ base_url }}/static/img/floppsmap-screenshot.jpg" class="responsive-img"></p>

            <p class="caption">The map attracts several hundred users per day, among them a lot of geocachers who use the map to perform geocaching related operations, for planning geocaching tours, and as a simple means to explore the world before actually going outside.</p>

            <p class="center">
                <a class="btn btn-primary btn-lg" role="button" href="http://www.flopp-caching.de/" target="_blank">Jump to the <em>Flopps's Map</em> website</a>
                <a class="btn" role="button" href="https://github.com/flopp/FloppsMap" target="_blank">Source code on Github.com</a>
            </p>
        </div>
    </div>   

    <div class="row">
        <div class="col l6 m12">
            <div class="card {{ card_color }}">
                <div class="card-content">
                    <span class="card-title black-text">Features</span>
                    <ul class="collection">
                        <li class="collection-item">Draggeable markers for determining coordinates</li>
                        <li class="collection-item">Geodesic operations: waypoint projection, distancce/bearing measurement</li>
                        <li class="collection-item">Different mapping styles</li>
                        <li class="collection-item">Searching by coordinates and location names</li>
                        <li class="collection-item">Multi language interface</li>
                        <li class="collection-item">Generation of permalinks to share the current map view with others</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col l6 m12">
            <div class="card {{ card_color }}">
                <div class="card-content">
                    <span class="card-title black-text">Used Technologies</span>
                    <ul class="collection">
                        <li class="collection-item"><a href="https://developers.google.com/maps/documentation/javascript/reference">Google Maps Javascript API</a> for mapping</li>
                        <li class="collection-item"><a href="http://www.opencaching.de/okapi/introduction.html">Opencaching API (OKAPI)</a> for accessing the data bases of Opencaching sites</li>
                        <li class="collection-item"><a href="http://www.getbootstrap.com">Bootstrap</a> for the user interface</li>
                        <li class="collection-item"><a href="http://jquery.com/">jQuery</a> and various plugins for Javascript stuff</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
