{% extends "_base.html" %}
{% set active_page = "projects" %}
{% set title = "Unicode Explorer" %}
{% block body %}

<div class="content">
    <h1 class="title">Unicode Explorer</h1>
            
    <p>
        <em>Unicode Explorer</em> is an experimental webapp that let's you explorer Unicode code blocks and individual Unicode characters.
    </p>
  
    {{ image("unicode-screenshot.jpg", "Unicode Explorer") }}

    {{ buttons2("https://unicode.flopp.net/", "Jump to the \"Unicode Explorer\" website", "https://github.com/flopp/unicode-explorer", "Source code on Github.com") }}
    
    <div class="columns is-multiline">
        <div class="column is-half">
            <div class="card equal-height">
                <header class="card-header"><p class="card-header-title">Features</p></header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li>Responsive layout</li>
                            <li>Display of individual Unicode characters including related and look-alike characters</li>
                            <li>Display of Unicode code blocks</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="column is-half">
            <div class="card equal-height">
                <header class="card-header"><p class="card-header-title">Used Technologies</p></header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li><a href="http://flask.pocoo.org/" target="_blank">Flask microframework</a></li>
                            <li><a href="https://milligram.github.io/" target="_blank">Milligram CSS framework</a></li>
                            <li><a href="http://unicode.org/" target="_blank">Unicode data from Unicode.org</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
