{% extends "_base.html" %}
{% set active_page = "projects" %}
{% set title = "go-staticmaps" %}
{% block body %}

<div class="content">
    <h1 class="title">go-staticmaps - Render static maps using go and OpenStreeMaps</h1>
            
    <p>
        A go (golang) library and command line tool to render static map images using OpenStreetMap tiles.
    </p>
            
    {{ image("go-staticmaps.jpg", "go-staticmaps") }}
            
    {{ buttons1("https://github.com/flopp/go-staticmaps", "Source code on Github.com") }}
    
    <div class="columns is-multiline">
        <div class="column is-half">
            <div class="card equal-height">
                <header class="card-header"><p class="card-header-title">Features</p></header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li>Full featured go mapping library</li>
                            <li>Powerful command line client</li>
                            <li>Multiple tile providers</li>
                            <li>Colored markers</li>
                            <li>Colored lines</li>
                            <li>Colored (filled) polygons</li>
                            <li>Automatic determination of a "good" zoom level</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="column is-half">
            <div class="card equal-height">
                <header class="card-header"><p class="card-header-title">Used Technologies</p></header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li><a href="https://golang.org/" target="_blank">The Go Progamming Language</a></li>
                            <li><a href="https://github.com/fogleman/gg" target="_blank">Go Graphics</a>, a 2D graphics library written in go</li>
                            <li>...</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
