{% set base_url = "https://www.florian-pigorsch.de" %}
{% set analytics_id = "UA-27729857-6" %}
{% set materialize_version = "0.96.1" %}
{% set jquery_version = "2.1.3" %}
{% set font_awesome_version = "4.3.0" %}

{% set card_color = "grey lighten-4" %}
{% set card_text = "black-text" %}
{% set header_text_color = "orange-text" %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Florian Pigorsch</title>
        <meta name="google-site-verification" content="ZWguhWGxH8yFqaSr5bp-BX9pEDf-ToP5I7SgAFm97OA" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/{{ materialize_version }}/css/materialize.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/{{ font_awesome_version }}/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-{{ jquery_version }}.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/{{ materialize_version }}/js/materialize.min.js"></script>
        <script src="https://apis.google.com/js/platform.js"></script>
        {% block css %}
        {% endblock %}
    </head>
    <body>
    
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" class="brand-logo" href="{{ base_url }}/index.html">Florian Pigorsch</a>
            <ul class="right hide-on-med-and-down">
                <li{% if 'home' == active_page %} class="active"{% endif %}><a href="{{ base_url }}/index.html">Home</a></li>
                <li{% if 'projects' == active_page %} class="active"{% endif %}><a href="{{ base_url }}/projects/index.html">Projects</a></li>
                <li{% if 'publications' == active_page %} class="active"{% endif %}><a href="{{ base_url }}/publications.html">Publications</a></li>
                <li{% if 'contact' == active_page %} class="active"{% endif %}><a href="{{ base_url }}/contact.html">Contact</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li{% if 'home' == active_page %} class="active"{% endif %}><a href="{{ base_url }}/index.html">Home</a></li>
                <li{% if 'projects' == active_page %} class="active"{% endif %}><a href="{{ base_url }}/projects/index.html">Projects</a></li>
                <li{% if 'publications' == active_page %} class="active"{% endif %}><a href="{{ base_url }}/publications.html">Publications</a></li>
                <li{% if 'contact' == active_page %} class="active"{% endif %}><a href="{{ base_url }}/contact.html">Contact</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
    </nav>
        
    <div class="container">
        {% block body %}
        {% endblock %}
        {% block js %}
        {% endblock %}
    </div>
        
    <footer class="page-footer orange">
        <div class="footer-copyright">
            <div class="container">
                <span>&copy; 2016 <a class="white-text" href="mailto:mail@florian-pigorsch.de" target="_blank">Florian Pigorsch</a></span>
                <span class="right">Styling: <a class="white-text" href="http://materializecss.com/" target="_blank">Materialize CSS</a></span>
            </div>
        </div>
    </footer>
    
<script>
    // Initialize collapse button
    $(".button-collapse").sideNav();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ analytics_id }}', 'auto');
  ga('send', 'pageview');
</script>

    </body>
</html>
