{% extends "_base.html" %}
{% set active_page = "home" %}
{% block body %}

<div class="content">
    <h1 class="title">Hey there!</h1>
 
    {{ image("florian-pigorsch.jpg", "Florian Pigorsch") }}

    <p>
        My name is Florian Pigorsch. I'm a software engineer at <a href="http://www.concept.de/" target="_blank">Concept Engineering</a> in Freiburg/Germany, where I develop software for the EDA industry.<br />
        In addition to professional software development - which I mostly do in C and C++ - I spend a good part of my spare time coding on <a href="{{ base_url }}/projects/index.html">personal software projects</a>. Most of them are web based and somehow related to maps.<br />
        If you are interested in my former scientific career, take a look at my <a href="{{ base_url }}/publications.html">publications</a>.
    </p>
</div>
{% endblock %}
