{% extends "_base.html" %}
{% set active_page = "home" %}
{% block body %}
<h1>Hey there!</h1>
<p style="text-align: center"><img src="{{ base_url }}/static/img/florian-pigorsch.jpg" class="img-thumbnail"></p>

<p class="lead">My name is Florian Pigorsch. I'm a software engineer at <a href="http://www.atrics.de" target="_blank">ATRiCS - Advanced Traffic Solutions</a> in Freiburg/Germany, where I develop software for managing and optimizing airport operations.<br />
In addition to professional software development - which I mostly do in C++ and Python - I spend a good part of my spare time coding on <a href="{{ base_url }}/projects/index.html">personal software projects</a>. Most of them are web based and somehow related to maps.
</p>

{% endblock %}
