{% extends "_base.html" %}
{% set active_page = "projects" %}
{% set title = "Desktop Jodel Client" %}
{% block body %}

<div class="content">
    <h1 class="title">Desktop Jodel Client</h1>
    
    <p>
        A inofficial, Qt-based desktop client for the <a href="http://jodel-app.com/" target="_blank">Jodel</a> chat protocol.
    </p>
    
    {{ image("desktopjodel-screenshot.jpg", "Desktop Jodel Client") }}

    {{ buttons1("https://github.com/flopp/DesktopJodel", "Source code on Github.com") }}

    <div class="columns is-multiline">
        <div class="column is-half">
            <div class="card equal-height">
                <header class="card-header"><p class="card-header-title">Features</p></header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li>Basic functions of the Jodel chat protocol (voting, post colors, images)</li>
                            <li>Display of posts' (coarse) locations</li>
                            <li>Manual setting of location</li>
                            <li>Manual selection of post color</li>
                            <li>Nice emoji images</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="column is-half">
            <div class="card equal-height">
                <header class="card-header"><p class="card-header-title">Used Technologies</p></header>
                <div class="card-content">
                    <div class="content">
                        <ul>
                            <li><a href="http://www.qt.io/" target="_blank">Qt 5</a></li>
                            <li>Emoji images from <a href="https://github.com/Ranks/emojione" target="_blank">emojione</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
